@model List<Calculator.Data.DataInputVariant>
@{
    ViewData["Title"] = "Простой калькулятор";
}

<h2>@ViewData["Title"]</h2>

<form method="post" asp-controller="Calculator" asp-action="ProcessingCalculationRequest">
    @Html.AntiForgeryToken()
    <input type="text" name="num1" required />
    <select name="operation" required>
        <option value="Add">+</option>
        <option value="Subtract">-</option>
        <option value="Multiply">*</option>
        <option value="Divide">/</option>
    </select>
    <input type="text" name="num2" required />
    <input type="submit" value="Расчет" />
    @* <p><a href="/Calculator/AddMessage" class="btn btn-primary">Добавить сообщение в Kafka</a></p> *@
</form> 

<h5 class="h5 mt-4">Результаты операций</h5>
<table class="table table-hover table-bordered">
    <tr>
        <th>Операнд 1</th>
        <th>Операнд 2</th>
        <th>Операция</th>
        <th>Результат</th>
    </tr>
    @foreach(var operation in Model)
    {
        <tr>
            <td>@operation.Operand_1</td>
            <td>@operation.Operand_2</td>
            <td>@EnumExtensions.GetDisplayName(operation.Type_operation)</td>
            <td>@operation.Result</td>
        </tr>
    }
</table>